.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#data {
  text-align: left !important;
  display: flex;
}

tbody {
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

tr {
  display: flex;
}

td {
  width: 325px;
}

ul {
  justify-content: space-between;
}